/* primary yellow: #fdae11*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap");

* {
  font-family: "Open Sans";
}


body{
  background-color: #252525;
  box-sizing: border-box;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/*Common clasess*/


.text-center {
  text-align: center;
}
a {
  font-family: "Open Sans";
  font-weight: 400;
}

p {
  font-family: "Open Sans";
  font-weight: 400;
  color: #f2f2f2;
}

body{
  overflow-x: hidden;
  background-image: url("../images/cute-dog.jpg");
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* header*/
header {
  z-index: 1;
  position: relative;
}


/* upload pet */



.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 18px;
    background: rgba(62, 61, 61, 0.6);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #ff8928;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-shadow: 0px 0px 30px #000000ab;
    transition: 0.5s ease-in-out;
  }
  h1:hover {
    color: #ffffff;
    cursor: pointer;
    text-shadow: 0px 0px 25px #fd7e14, 0px 0px 20px #fd7e14;
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: 600;
    color: #1e1e1e;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #000;
    background: #fff;
    margin: 0 0 8px;
    padding: 10px;
    box-shadow: 3px 2px 4px #222429;
    transition: 0.5s ease-in-out;
  }
  
  input:hover,
  select:hover{
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
    box-shadow: 3px 2px 20px 3px #d3d3d3;
  }

  button {
    display: block;
    width: 100%;
    font-weight: 500;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 2px 4px #222429;
    background: linear-gradient(90deg, #4CAF50, #33b837);
    transition: all 0.4s ease;
  }
  
  button:hover {
    background: linear-gradient(90deg, #33b837,#4CAF50 );
    box-shadow:2px 2px 10px 2px #32323293;
  }
  

  @media(max-width:991px) and (max-width:768px){
    .container {
      max-width: 500px;
      margin: 20px 10px;
      padding: 30px;
    }
  }
